<div class="container">
  <div class="add-form">
    <h2>Add New Quote</h2>
    <form method="post" action="/quote">
      <div class="field">
        <label for="word">Drop Word</label>
        <input type="text" name="word" required />
      </div>
      <div class="field">
        <label for="author">Author</label>
        <input type="text" name="author" required />
      </div>
      <button class="btn-sumbit" type="submit">submit</button>
    </form>
  </div>
</div>
