<div class="container">
  <div class="single-item">
    <div class="card">
      <code class="code">
        <h3>❝ <%= quote.word %> ❞</h3>
        <p>- <%= quote.author %></p>
      </code>
    </div>
  </div>
  <div class="detail-option">
    <a href="/quote/update/<%= quote.author %>">Update</a>
    <a
      onclick="return confirm('yakin ?')"
      href="/quote/delete/<%= quote.author %>"
      >Delete</a
    >
  </div>
  <div class="btn-back">
    <a href="/quote">See Other Quotes</a>
  </div>
</div>
