* {
  text-decoration: none;
  font-size: large;
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.952);
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: black;
}

.container {
  margin-top: 30px;
}

.code {
  margin: 10px 100px;
}

.code p {
  padding: 20px 0 0 0;
}

.item {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-item {
  width: 100%;
  align-items: center;
  margin-top: 120px;
}

.card {
  width: 25%;
  border: 1px solid;
  margin-top: 20px;
  padding: 15px;
  transition: box-shadow 0.5s ease;
}

.card:hover {
  box-shadow: 5px 10px;
}

.card a {
  color: black;
}

.btn-back {
  margin: 50px 0;
  background-color: black;
  width: 10%;
  padding: 10px;
  display: block;
}

.btn-back,
.add-btn a {
  color: white;
}

.add-btn {
  margin-top: 5%;
  background-color: black;
  width: 10%;
  padding: 10px;
}

.add-form {
  margin: 90px auto;
  width: 30%;
  background-color: rgba(240, 240, 240, 0.842);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 0 10px rgba(245, 245, 245, 0.527);
}

button {
  padding: 8px;
  color: white;
  background-color: black;
}

form {
  padding: 20px;
  margin: 10px auto;
}

.field {
  margin: 20px 0;
}

input {
  margin-top: 5px;
  width: 90%;
  padding: 10px;
}

@media (max-width: 1000px) {
  .items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 80%;
  }
}
